/Test1.algo
/Test1Res.txt
/Test2.algo
/Test3.algo
/TestLire.algo
/TestPrimitives.algo
/testBoucle.algo
/testBoucle2.algo
/testBoucleRes.txt
/testConditions.algo
/testConditions3.algo
/testConditionsRes.txt
/testConditionsV2.algo
/testConditionsV2Res.txt
/testOperation.algo
/testOperationRes.txt
/testSwitch.algo
/testSwitchRes.txt
